ENV_CONTROLLER=local
DEBUG=on
SECRET_KEY=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ

DJANGO_ADMIN_URL=something-other-than-admin/

USE_DOCKER=yes

USE_SQLITE=no
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

SERVER_EMAIL=noreply@UPDATEME.com
DEFAULT_FROM_EMAIL=noreply@UPDATEME.com

USE_MAILGUN=no
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_BASE_API_URL=
MAILGUN_WEBHOOK_SIGNING_KEY=